.body {
  width: 100%;
}

.welcome {
  // background-color: radial-gradient(circle, rgba(150, 141, 141, 0.494), rgba(28, 28, 30, 0.7)) !important;
  background-image: url('../assets/gradient-blue.jpg');
  background-size: 100% auto;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  padding: 15px;
  background: radial-gradient(circle, rgba(150, 141, 141, 0.235), rgba(28, 28, 30, 0.7));

  border-bottom: .5px rgba(217, 217, 13, 0.692) solid;

  h1 {
    font-size: 20px;
  }

  div {
    width: 151.5px;
    height: 32px;
    background-color: var(--button);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button {
    color: black;
    padding: 7.5px;
    justify-content: center;
    align-items: center;
    display: flex;
    border: .05px transparent solid;
    background-color: var(--button);
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  @media (min-width: 1080px) {
    div {
      width: 160px;
      height: 40px;
    }
  }
}

.mainContainer {
  width: 70vw;
  height: 500px;
  padding: 20px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  // justify-content: center;
  // justify-content: center;

  h1 {
    width: 35vw;
    text-transform: uppercase;
    text-align: right;
    line-height: 40px;
  }
}

.conversor {
  width: 350px;
  height: 400px;
  border: 2.5px solid var(--button);
  border-radius: 10px;
  background-color: var(--backgroundCard);
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.adSection {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ad {
  background-color: #c8c3c3a3;
  width: 70vw;
  text-align: center;
  height: 15vh;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: #675f5f72;
  }
}

.chartsSection {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;

  // padding: 50px 0 0 350px;

  position: relative;
  background-image: url('../../public/DetailChart.png');
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    filter: grayscale(100%);
  }

}

.chartsText {
  width: 65%;
  margin: 0 auto;
  text-align: center;

  background: radial-gradient(circle, rgba(225, 223, 223, 0.40), rgba(0, 0, 0, 0.26), rgba(0,0,0,0.02));
  
  h2 {
    margin-bottom: 10px;
    color: var(--textColor);
    letter-spacing: 2.5px;
    font-size: 25px;
  }

  p {
    color: var(--textColor);
    line-height: 25px;
  }
}

.chartsRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  width: 70vw;
  margin: 20px auto 0;
}